#sr-map { 
    width: 600px;
    height: 800px; 
}


.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}




.marker-cluster-sr-outer {
	width: 50px;
	height: 50px;
	text-align: center;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top:-5px;
    margin-left:-5px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    z-index: 200 !important;
}
.marker-cluster-sr-inner {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    background-color: white;
    
}

.marker-cluster-sr span {
    line-height: 47px;
    font-size: 14px;
}



.pink-0 { color: #8B2E5F }	/* Main Primary color */
.pink-1 { color: #F70082 }
.pink-2 { color: #BF0667 }
.pink-3 { color: #BC528A }
.pink-4 { color: #E889BB }

.orange-0 { color: #AA7039 }	/* Main Secondary color (1) */
.orange-1 { color: #FF7C00 }
.orange-2 { color: #EA7607 }
.orange-3 { color: #E6A464 }
.orange-4 { color: #FFC996 }

.blue-0 { color: #255E69 }	/* Main Secondary color (2) */
.blue-1 { color: #00C9EE }
.blue-2 { color: #087B90 }
.blue-3 { color: #40828E }
.blue-4 { color: #7CC2CF }

.green-0 { color: #789E35 }	/* Main Complement color */
.green-1 { color: #A2FC00 }
.green-2 { color: #8ED907 }
.green-3 { color: #ABD65D }
.green-4 { color: rgb(78, 112, 15) }


.leaflet-bar .tag-filter-tags-container ul {
    max-height: initial;
    border: 0;
    width : 200px;
}

.leaflet-bar .tag-filter-tags-container ul.header {
    height: auto;

}

.leaflet-bar .tag-filter-tags-container ul li a {
    padding : 0 0 0 5px;
    width : auto;
    height : auto;
    line-height : normal;
}

.leaflet-bar .tag-filter-tags-container .checkbox {
    font-size: inherit;
}

