#sr-map { 
    width: 600px;
    height: 800px; 
}


.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}